:root {
  font-family: 'Square', 'Squareo', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Square";
  src: local("Square"),
  url(./assets/fonts/Square.ttf) format("truetype");
}

@font-face {
  font-family: "Squareo";
  src: local("Squareo"),
  url(./assets/fonts/Squareo.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
